*{
    margin: 0; padding: 0;
}

html{
    font-size: 16px; color: #333;
    font-family: 'Lato', sans-serif;
}

header{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)  ) , url(../images/background.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 100px;
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 0;
}

.main-nav{
 list-style: none;
}
.main-nav li{
 display: inline-block;
 margin-left: 20px;
}
.main-nav li a{
 color: white; 
 text-decoration: none;
 letter-spacing: 3px;
}
.main-nav li a:hover{
 color: rgb(10, 28, 44); 
 text-decoration: underline;
}

.hero-box{
    position: absolute;
    top: 40%;
    left: 20%;
}

h1{
    color: white;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 30px;
}

.btn{
    border: solid 1px rgb(138, 144, 146);
    margin-right: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    color: rgb(35, 59, 65);
    text-decoration: none;
}
.btn:hover{
    color: white;
    background-color: rgb(37, 56, 55);
}
section{
    padding: 40px 0px;
    background-color: #333;
}

h2{
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-align: center;
    color: white;
}

h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: rgb(250, 253, 253);
    margin: 15px auto;
}


.features-text{
    width: 60%;
    margin-left: 20%;
    line-height: 1.5;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}


.bedo {
    text-align: center;
}
.bedo i{
    color: rgb(230, 182, 95);
    font-size: 36px;
    margin-bottom: 20px;
}
.bedo h3{
    margin-bottom: 20px;
    color: white;
}
.bedo p{
    text-align: center;
    color: white;
}
#works {
    padding:  0;
    }
    
    #works .row{
    margin: 0;
    }
    
    .work{  
        padding: 0;
        background-color: black;
        overflow: hidden;
    }
    
    .work img{  
        width: 100%;
        margin-bottom: -5px;
        opacity: .6;
        transform: scale(1.2) ;
        transition: 1s;
    }
    
    .work img:hover{ 
         opacity: 1;
         transform: scale(1) ;
     }
     
     label{
        color: rgb(15, 178, 207);
        font-size: 18px;
    }
    
    input[type=text] , input[type=email] ,select , textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 7px;
    }
    
    input[type=checkbox] {
           margin-bottom: 15px;
    }
    
    button{
        border: solid 1px rgb(28, 98, 116);
        margin-right: 15px;
        padding: 12px 30px;
        border-radius: 5px;
        color: rgb(26, 74, 88);
        text-decoration: none;
        background-color: white;
    }
    footer{
        padding: 50px 100px;
        background-color: #333;
    }
footer p{
       color: #fff;
       text-align: center;
       margin-top: 30px;
    }
.social-nav{
        list-style: none;
        float: right;
       }
.social-nav li{
        display: inline-block;
        margin-left: 10px;
       }
.social-nav li a{
        color: white; 
        text-decoration: none;
       }
.social-nav li a:hover{
        color: orange; 
        text-decoration: underline;
       }
